<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Angular Bot</title>
	<link rel="stylesheet" href="src/style.css">
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"> </head>

<body>
	<div ng-app='myApp'>
		<div ng-controller='mainCtrl as main'>
			<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="panel-footer">
						<div class="input-group">
							<input id="autocomplete" type="text" class="form-control input-sm" placeholder="Найти місто"/> 
                           <span class="input-group-btn">
                            	<button class="btn btn-warning btn-sm" id="btn-chat" ng-click='main.getWeather()'>Показати погоду</button>
                       	   </span> 
                       </div>
					</div>
				</div>
			</div>
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">
							<div class="panel-heading"> <span class="glyphicon glyphicon-comment"></span> Chat Bot </div>
							<div class="panel-body">
								<ul class="chat">
									<li class="left clearfix" ng-repeat='note in main.noteArray track by $index'>
                           				<span class="chat-img pull-left">
                           				 <img src="http://placehold.it/50/55C1E7/fff&text={{note.symbol}}" alt="User Avatar" class="img-circle" />
                        				</span>
										<div class="chat-body clearfix">
											<div class="header"> <strong class="primary-font">{{note.title}}</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>{{note.date}}</small> </div>
											<p> {{note.note}} </p>
										</div>
									</li>
								</ul>
							</div>
							<div class="panel-footer">
								<form ng-submit='main.saveNote()'>
									<div class="input-group">
										<input id="btn-input" type="text" class="form-control input-sm" placeholder="Додати нотатку" ng-model='main.noteText' /> 
									   <span class="input-group-btn">
										<button class="btn btn-warning btn-sm" id="btn-chat" type='submit'>
											Зберегти
										</button>
									   </span> 
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="node_modules/jquery/dist/jquery.min.js"></script>
	<script src="node_modules/angular/angular.js"></script>
	<script src="node_modules/angular-resource/angular-resource.js"></script>
	<script src="node_modules/moment/moment.js"></script>
	<script src="app.js"></script>
	<script src="config.js"></script>
	<script src="controllers/main.controller.js"></script>
	<script src="services/data.service.js"></script>
	<script src="services/api.service.js"></script>

</body>

</html>